* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.App {
  text-align: center;
}

.home {
  background-image: url('./assets/img/banner-bg.png');
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding-top: 50px;
}

.home-heading {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 50px;
}

.github-form {
  width: 30%;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
  overflow: hidden;
  /* border: 1px solid rgba(183, 183, 183, 0.5); */
  padding-right: 15px;
  box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.4),
    2px 2px 4px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(7px);
}

.github-form input {
  width: 90%;
  height: 50px;
  border: none;
  background-color: transparent;
  color: #fff;
  padding: 0 15px;
  font-size: 1.1rem;
  outline: none;
}

.github-form button {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 20px;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.repoSection {
  min-height: 100vh;
  background-image: url('./assets/img/banner-bg.png');
  padding-block: 50px;
}

.astro {
  width: 350px;
  animation: updown 3s linear infinite;
}

.inner-info-wrapper {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.info {
  margin: 3rem auto;
  padding-top: 20px;
  width: 75%;
  background-color: transparent;
  min-height: 350px;
  border-radius: 24px;
  display: grid;
  color: #fff;
  box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.4),
    2px 2px 4px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.back-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
}
